

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    min-width: 485px;
    
}

h1 {

    //font-family: 'Sacramento', cursive, sans-serif;
    text-shadow:2px 2px #fbdb4a;
    font-size: 50px;
    padding-top: 30px;
}


a {
 color:black;
 text-decoration: none;
 }

li {
    list-style: none;
}
span{
    font-family: 'Sacramento', cursive, sans-serif;
    font-size: 50px;
}

header {
    display:flex;
    background-color: #fbdb4a;
    justify-content: space-between;
    overflow-x: hidden;
    height: fit-content;
    
    .avatar {
        height: 150px;
        width: 150px;
    }

    nav {
        padding-top: 50px;
        padding-right: 25px;
        a {
            padding-left: 10px;
            padding-right: 10px;
            font-weight: bold;
        }

    }
    a:hover{
        opacity: .7;
        font-weight: bold;
        font-size:large;
    }

}
.motto {
font-size: 40px;
font-family: 'Sacramento', cursive;
padding: 0;
margin: 0;
font-weight: bold;
}
.top-section{
    
    background-image: url('/assets/j-kosinska-RE-8WswW95o-unsplash.jpg');
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    width: 100%;
    text-align: center;

    
}
    
   




.middle-section {
    
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 15px;

  }
.mid-top{
    padding: 15px;
    margin:auto;
}
.mid-bottom{
    padding: 15px;
    margin: auto;
}











// Keyframes
@keyframes yourAnimation{
    0%{
        transform: translateX(-10%);
        opacity: 0;
        }
    100%{
        transform: rotate(xx) translateX(0);
        opacity: 1;
        }
}

.top-text{
    animation: yourAnimation 2s forwards 0s ease-in-out;
}

@keyframes yourAnimation2{
    0%{
        transform: translateY(-20%);
        opacity: 0;
        }
    100%{
        transform: rotate(xx) translateY(0);
        opacity: 1;
        }
}

.ntf-mercia{
    animation: yourAnimation2 1s forwards 0s ease;
}




