* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  min-width: 500px;
  height: 100%;
}

h1 {
  font-family: 'Sacramento', cursive, sans-serif;
  text-shadow: 1px 1px #fbdb4a;
  font-size: 50px;
  padding-top: 1em;
}

h2 {
  padding-left: 1em;
  text-shadow: 2px 2px #fbdb4a;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

span {
  font-family: 'Sacramento', cursive, sans-serif;
  font-size: 2em;
  font-weight: bold;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fbdb4a;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .main-logo {
  height: 10em;
  width: 10em;
  margin-left: 5em;
}

header nav {
  padding-top: 4em;
  padding-right: 5em;
}

header nav a {
  padding: 0 1em;
  font-weight: bold;
  color: black;
}

header a:hover {
  color: white;
  text-shadow: 1px 1px black;
}

.top-section {
  margin: 0 auto;
  background-image: url("/assets/j-kosinska-RE-8WswW95o-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.top-section .top-left .ntf-mercia {
  -webkit-animation: yourAnimation2 1.5s forwards 0s ease-in-out;
          animation: yourAnimation2 1.5s forwards 0s ease-in-out;
  height: 100%;
  padding: 3em 0;
  margin: 0 auto;
}

.top-section .top-right {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-bottom: 3em;
}

.top-section .top-right .top-text {
  -webkit-animation: yourAnimation 1.5s forwards 0s ease-in-out;
          animation: yourAnimation 1.5s forwards 0s ease-in-out;
  padding: 0;
}

.top-section .top-right .motto {
  font-size: 2em;
  font-family: 'Sacramento', cursive;
  font-weight: bold;
}

.middle-section {
  width: 100%;
  text-align: center;
  margin: 50px auto auto auto;
  padding: 0px;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mid-top {
  margin-top: -85px;
  font-size: larger;
}

.mid-top p {
  max-width: 75%;
  width: 500px;
  margin: auto;
  padding: 30px;
}

.mid-bottom {
  background: url(/assets/photo-1483095348487-53dbf97d8d5b.jpg);
  -webkit-animation: chbg 15s infinite alternate;
          animation: chbg 15s infinite alternate;
  background-size: cover;
  height: 100%;
}

.mid-bottom .container {
  max-width: 75%;
  width: 600px;
  margin: 50px auto;
  height: 50%;
  padding: 15px;
  border-radius: 2%;
  background-color: #e6e4e4;
  -webkit-box-shadow: 1px 1px #969696;
          box-shadow: 1px 1px #969696;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 500px;
          flex: 0 0 500px;
}

.mid-bottom .container h1 {
  padding-top: 25px;
  margin: 0;
}

.my-services {
  width: 75%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 30px;
  margin-top: -30px;
}

.my-services .services-box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: x-small;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.my-services .services-box img {
  width: 50px;
  height: 50px;
  padding: 10px;
}

.my-services .services-box .box-1, .my-services .services-box .box-2 {
  padding: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  margin: 10px;
  background-color: #e6e4e4;
  -webkit-box-shadow: 1px 1px #969696;
          box-shadow: 1px 1px #969696;
}

.my-services .services-box .box-1:hover, .my-services .services-box .box-2:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.my-services .services-box .box-1 {
  border-radius: 2%;
}

.my-services .services-box .box-2 {
  border-radius: 2%;
}

.pricing-and-services {
  text-align: center;
  padding: 10px;
  margin: 15px 0;
  background-image: url("/assets/j-kosinska-RE-8WswW95o-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  background-size: cover;
}

.pricing-and-services p {
  font-size: larger;
  font-weight: bold;
}

.pricing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pricing-container div {
  padding-right: 25px;
  margin: 5px;
  width: 180px;
  text-align: left;
  background-color: #e6e4e4;
  border-radius: 5%;
  -webkit-box-shadow: 2px 2px #969696;
          box-shadow: 2px 2px #969696;
}

.pricing-container div p {
  font-weight: bold;
  margin-left: -15px;
}

.pricing-container div li {
  list-style: square;
  margin-left: -15px;
  margin-bottom: 2px;
  font-size: xx-small;
}

.why-work-with-mercia {
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.why-work-with-mercia .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.why-work-with-mercia .container .wwwm-left {
  padding-top: 50px;
  width: 300px;
}

.why-work-with-mercia .container .wwwm-left p {
  text-align: left;
  font-size: 20px;
}

.why-work-with-mercia .container .wwwm-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 350px;
          flex: 0 0 350px;
}

.why-work-with-mercia .container .wwwm-right img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  margin: 10px;
  border: 2px solid black;
}

@-webkit-keyframes yourAnimation {
  0% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(xx) translateX(0);
            transform: rotate(xx) translateX(0);
    opacity: 1;
  }
}

@keyframes yourAnimation {
  0% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(xx) translateX(0);
            transform: rotate(xx) translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes yourAnimation2 {
  0% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(xx) translateX(0);
            transform: rotate(xx) translateX(0);
    opacity: 1;
  }
}

@keyframes yourAnimation2 {
  0% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(xx) translateX(0);
            transform: rotate(xx) translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes chbg {
  0% {
    background: url(/assets/photo-1483095348487-53dbf97d8d5b.jpg);
    background-size: cover;
  }
  20% {
    background: url(/assets/nathana-reboucas-LIfRyiWWBZs-unsplash.jpg);
    background-size: cover;
  }
  40% {
    background: url(/assets/neonbrand-I6wCDYW6ij8-unsplash.jpg);
    background-size: cover;
  }
  60% {
    background: url(/assets/neonbrand-z3kBG5xIhjo-unsplash.jpg);
    background-size: cover;
  }
  80% {
    background: url(/assets/nordwood-themes-cNXqmO0Z24U-unsplash.jpg);
    background-size: cover;
  }
  100% {
    background: url(/assets/instagram_login_screen_on_iphone_6s-1000x667.jpg);
    background-size: cover;
  }
}

@keyframes chbg {
  0% {
    background: url(/assets/photo-1483095348487-53dbf97d8d5b.jpg);
    background-size: cover;
  }
  20% {
    background: url(/assets/nathana-reboucas-LIfRyiWWBZs-unsplash.jpg);
    background-size: cover;
  }
  40% {
    background: url(/assets/neonbrand-I6wCDYW6ij8-unsplash.jpg);
    background-size: cover;
  }
  60% {
    background: url(/assets/neonbrand-z3kBG5xIhjo-unsplash.jpg);
    background-size: cover;
  }
  80% {
    background: url(/assets/nordwood-themes-cNXqmO0Z24U-unsplash.jpg);
    background-size: cover;
  }
  100% {
    background: url(/assets/instagram_login_screen_on_iphone_6s-1000x667.jpg);
    background-size: cover;
  }
}
/*# sourceMappingURL=style.css.map */