
* {
    
    box-sizing: border-box;
}

body {
    
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    min-width: 500px;
    height: 100%;
    
    
}

h1 {

    font-family: 'Sacramento', cursive, sans-serif;
    text-shadow:1px 1px #fbdb4a;
    font-size: 50px;
    padding-top: 1em;
}
h2 {
    padding-left: 1em;  
    text-shadow: 2px 2px #fbdb4a;
    
}

a {
 color:black;
 text-decoration: none;
 }

li {
    list-style: none;
}
span {
    font-family: 'Sacramento', cursive, sans-serif;
    font-size: 2em;
    font-weight: bold;
    
}

header {
    display:flex;
    background-color: #fbdb4a;
    justify-content: space-between;
    
    
    
    .main-logo {
        height: 10em;
        width: 10em;
        margin-left: 5em;
        
    }

    nav {
        
        padding-top: 4em;
        padding-right: 5em;
        a {
            padding: 0 1em;
            font-weight: bold;
            color:black;
        }

    }
    a:hover{
        color:white;
        text-shadow: 1px 1px black;    
    }

}




.top-section {
    
    margin: 0 auto;
    background-image: url('/assets/j-kosinska-RE-8WswW95o-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    height: 100%;
    display: flex;
    flex-flow: wrap;
    width: 100%;
    justify-content:center;
    text-align: center;
    
    .top-left .ntf-mercia {
        animation: yourAnimation2 1.5s forwards 0s ease-in-out;
        height: 100%;
        padding: 3em 0;
        margin: 0 auto;
        
    }

    .top-right {
        align-self:center; 
        
        padding-bottom: 3em; 

        .top-text {
            animation: yourAnimation 1.5s forwards 0s ease-in-out;
            padding: 0;
            
        }

        .motto {
            font-size: 2em;
            font-family: 'Sacramento', cursive;
            font-weight: bold
            }
    }

}
 
.middle-section {

    
    width: 100%;
    text-align: center;
    margin: 50px auto auto auto;
    padding: 0px;
    align-content:center;
    display:flex;
    flex-direction:column;
  }
.mid-top{
    margin-top: -85px;
    
    font-size: larger;
    
    p {
        max-width: 75%;
        width: 500px;
        margin: auto;
        padding: 30px;
        
    }
}

.mid-bottom{
    
    background: url(/assets/photo-1483095348487-53dbf97d8d5b.jpg);
    animation: chbg 15s infinite alternate;
    background-size:cover;
    height: 100%;
    
    
       .container {
        max-width: 75%;
        width: 600px;
        margin: 50px auto;
        height: 50%;
        padding: 15px;
        border-radius: 2%;
        background-color: rgb(230, 228, 228);  
        box-shadow: 1px 1px rgb(150, 150, 150);   
        flex: 0 0 500px;
        h1{
            padding-top: 25px;
            margin: 0;
        }
       }
}


.my-services{
    width: 75%;
    text-align:center;
    margin: 0 auto;
    padding-bottom: 30px;
    margin-top: -30px;
    
    .services-box{
        display:inline-flex;
        font-size: x-small;
        justify-content: center;
        flex-wrap: wrap;
        
        
        
        img {
            width: 50px;
            height: 50px;
            padding: 10px;
            
        }
        .box-1, .box-2 {
            padding: 10px;
            flex: 0 0 200px;
            margin: 10px;   

            background-color: rgb(230, 228, 228);  
            box-shadow: 1px 1px rgb(150, 150, 150);   
                    
        }
        .box-1:hover, .box-2:hover{
            transform:scale(1.1);
        }
        .box-1 {
            
            border-radius: 2%; 

            }
        .box-2 {
                   
                border-radius: 2%;   

            }
        
        
        
        
    }
}

.pricing-and-services{
    text-align:center;
    padding: 10px;
    margin: 15px 0;
    background-image:url('/assets/j-kosinska-RE-8WswW95o-unsplash.jpg');
    background-repeat:no-repeat;
    background-attachment: fixed;
    height:100%;
    background-size:cover;
    p{
        font-size: larger;
        font-weight:bold;
    }
}

.pricing-container{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;


    div {
        padding-right: 25px;
        margin: 5px;
        width: 180px;
        text-align:left;
        background-color:rgb(230, 228, 228);
        border-radius:5%;
        box-shadow: 2px 2px rgb(150, 150, 150);
        p {
            font-weight: bold;
            margin-left: -15px;
        
        }
        li {
            list-style:square;
            margin-left: -15px;
            margin-bottom: 2px;
            font-size: xx-small;
            
        }
    }
}
.why-work-with-mercia{
    align-content:center;
    text-align:center;
    
    .container {
        display:flex;
        justify-content:center; 
        flex-wrap:wrap;
        .wwwm-left {
            padding-top: 50px;
            width: 300px;

            p   {
                text-align:left;
                font-size:20px;
                
            }
        }
        .wwwm-right { 
            flex: 0 0 350px;
                img {
                width: 350px;
                height: 350px;
                border-radius: 50%;
                margin: 10px;
                border: 2px solid black;
            }
        }
    }
}






// Keyframes 
@keyframes yourAnimation{
    0%{
        transform: translateX(10%);
        opacity: 0;
        }
    100%{
        transform: rotate(xx) translateX(0);
        opacity: 1;
        }
}

@keyframes yourAnimation2{
    0%{
        transform: translateX(-20%);
        opacity: 0;
        }
    100%{
        transform: rotate(xx) translateX(0);
        opacity: 1;
        }
}

@keyframes chbg{
    0% { 
        background:url(/assets/photo-1483095348487-53dbf97d8d5b.jpg);
        background-size:cover;
       
        
    }
    20% { 
        background:url(/assets/nathana-reboucas-LIfRyiWWBZs-unsplash.jpg);
        background-size:cover;
        
        
    }
    40% { 
        background:url(/assets/neonbrand-I6wCDYW6ij8-unsplash.jpg);
        background-size:cover;
        
        
    }
    60% { 
        background:url(/assets/neonbrand-z3kBG5xIhjo-unsplash.jpg);
        background-size:cover;
        
        
    }
    80% { 
        background:url(/assets/nordwood-themes-cNXqmO0Z24U-unsplash.jpg);
        background-size:cover;
        
        
    }

    100% {
        background:url(/assets/instagram_login_screen_on_iphone_6s-1000x667.jpg);
        background-size:cover;
        
        
    }

}






