body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  min-width: 500px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-family: 'Sacramento', cursive, sans-serif;
  text-shadow: 1px 1px #fbdb4a;
  font-size: 50px;
  padding-top: 30px;
}

h2 {
  padding-left: 1em;
  text-shadow: 2px 2px bisque;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

span {
  font-family: 'Sacramento', cursive, sans-serif;
  font-size: 50px;
  font-weight: bold;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fbdb4a;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .main-logo {
  height: 100px;
  width: 100px;
  padding-left: 25px;
}

header nav {
  padding-top: 40px;
  padding-right: 30px;
}

header nav a {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  color: black;
  text-shadow: 1px 1px white;
}

header a:hover {
  color: white;
  text-shadow: 1px 1px black;
}

.motto {
  font-size: 40px;
  font-family: 'Sacramento', cursive;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.top-section {
  padding: 0;
  margin: 0;
  background-image: url("/assets/j-kosinska-RE-8WswW95o-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.top-section .top-right {
  padding-top: 5em;
}

.top-section .ntf-mercia {
  -webkit-animation: yourAnimation2 1.5s forwards 0s ease-in-out;
          animation: yourAnimation2 1.5s forwards 0s ease-in-out;
}

.top-section .top-text {
  -webkit-animation: yourAnimation 1.5s forwards 0s ease-in-out;
          animation: yourAnimation 1.5s forwards 0s ease-in-out;
}

.middle-section {
  width: 75%;
  text-align: center;
  margin: 50px auto auto auto;
  padding: 0px;
}

.mid-top {
  padding: 15px;
  font-size: larger;
}

.mid-bottom {
  padding: 50px;
  background-image: url("/assets/j-kosinska-RE-8WswW95o-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
  border-radius: 2%;
}

.the-why {
  display: inline-block;
  text-align: left;
}

.my-services {
  width: 75%;
  text-align: center;
  margin: auto;
}

.my-services .services-box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: x-small;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.my-services .services-box img {
  width: 50px;
  height: 50px;
  padding: 10px;
}

.my-services .services-box .box-1, .my-services .services-box .box-2 {
  padding: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  margin: 10px;
}

.my-services .services-box .box-1 {
  border-radius: 2%;
  background-image: url("/assets/j-kosinska-RE-8WswW95o-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.my-services .services-box .box-2 {
  border-radius: 2%;
  background-image: url("/assets/j-kosinska-RE-8WswW95o-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.pricing-and-services {
  text-align: center;
  padding: 10px;
  margin: 10px;
  width: 100%;
  background-image: url("/assets/j-kosinska-RE-8WswW95o-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  background-size: cover;
}

.pricing-and-services p {
  font-size: larger;
  font-weight: bold;
}

.pricing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pricing-container div {
  padding-right: 25px;
  margin: 5px;
  width: 250px;
  text-align: left;
}

.pricing-container div p {
  font-weight: bold;
  margin-left: -15px;
  text-shadow: 1px 1px cadetblue;
}

.pricing-container div li {
  margin-left: -15px;
  font-size: xx-small;
}

@-webkit-keyframes yourAnimation {
  0% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(xx) translateX(0);
            transform: rotate(xx) translateX(0);
    opacity: 1;
  }
}

@keyframes yourAnimation {
  0% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(xx) translateX(0);
            transform: rotate(xx) translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes yourAnimation2 {
  0% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(xx) translateY(0);
            transform: rotate(xx) translateY(0);
    opacity: 1;
  }
}

@keyframes yourAnimation2 {
  0% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(xx) translateY(0);
            transform: rotate(xx) translateY(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */