


body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.avatar{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

a {
 color:black;
 text-decoration: none;
 padding: 0.3em;
}


header {
    display:flex;
    background-color: #fbdb4a;
    justify-content: space-between;
    max-width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: auto;
    
    .nav-menu, a {
       padding-top: 75px;
       padding-right: 25px;
       font-weight: normal;
       
        
    }

    .nav-menu, a:hover{
        color: rgb(97, 147, 160);
        font-weight: bold;
    }


}


.top-section{
    margin: 15px auto;
    width: 750px;
    padding: 15px;
    text-align: center; 
    border-radius: 5%;
    background-image: url("/assets/jk-9gfGDbxuqrU-unsplash.jpg");
    
    
    .ntf-mercia{
        border-radius: 5%;
    }
    }

.top-text{
    animation: yourAnimation 2s forwards 0s ease-in-out;
}



// Keyframes
@keyframes yourAnimation{
    0%{
        transform: translateX(-10%);
        opacity: 0;
        }
    100%{
        transform: rotate(xx) translateX(0);
        opacity: 1;
        }
}





