

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    min-width: 500px;
    box-sizing: border-box;
    
}

h1 {

    font-family: 'Sacramento', cursive, sans-serif;
    text-shadow:1px 1px #fbdb4a;
    font-size: 50px;
    padding-top: 30px;
}
h2 {
    padding-left:1em;  
    text-shadow: 2px 2px bisque;
    
}

a {
 color:black;
 text-decoration: none;
 }

li {
    list-style: none;
}
span {
    font-family: 'Sacramento', cursive, sans-serif;
    font-size: 50px;
    font-weight:bold;
    
}

header {
    display:flex;
    background-color: #fbdb4a;
    justify-content: space-between;
    
    
    
    .main-logo {
        height: 100px;
        width: 100px;
        padding-left: 25px;
    }

    nav {
        

        padding-top: 40px;
        padding-right: 30px;
        a {
            padding-left: 10px;
            padding-right: 10px;
            font-weight: bold;
            color:black;
            text-shadow: 1px 1px white;
        }

    }
    a:hover{
        color:white;
        text-shadow: 1px 1px black;
        
    }

}


.motto {
font-size: 40px;
font-family: 'Sacramento', cursive;
padding: 0;
margin: 0;
font-weight: bold;

}
.top-section{
    padding: 0;
    margin: 0;
    background-image: url('/assets/j-kosinska-RE-8WswW95o-unsplash.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
    height: 100%;
    display: flex;
    flex-flow: wrap;
    width: 100%;
    justify-content:center;
    text-align: center;
    
    
    .top-right{
        padding-top: 5em;
    }
    .ntf-mercia{
        animation: yourAnimation2 1.5s forwards 0s ease-in-out;
    }
    .top-text{
        animation: yourAnimation 1.5s forwards 0s ease-in-out;
    }
}
 
.middle-section {
    
    
    width: 75%;
    text-align: center;
    margin: 50px auto auto auto;
    padding: 0px;
    
  }
.mid-top{
    padding: 15px;
    font-size: larger;
    
}
.mid-bottom{
    padding: 50px;
    background-image:url('/assets/j-kosinska-RE-8WswW95o-unsplash.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    background-attachment: fixed;
    border-radius: 2%;
    
}
.the-why{
   display:inline-block;
    text-align:left;
}

.my-services{
    width: 75%;
    text-align:center;
    
    margin: auto;
    
    
    .services-box{
        display:inline-flex;
        font-size: x-small;
        justify-content: center;
        flex-wrap: wrap;
        
        
        img {
            width: 50px;
            height: 50px;
            padding: 10px;
            
        }
        .box-1, .box-2 {
            padding: 10px;
            flex: 0 0 200px;
            margin: 10px;                
        }

        .box-1 {
            
            border-radius: 2%; 
            background-image:url('/assets/j-kosinska-RE-8WswW95o-unsplash.jpg');
            background-repeat: no-repeat;
            background-size:cover;
            
            background-attachment: fixed;
            
            }
        .box-2 {
                   
                border-radius: 2%;   
                background-image:url('/assets/j-kosinska-RE-8WswW95o-unsplash.jpg');
                background-repeat: no-repeat;
                background-size:cover;
   
                background-attachment: fixed;   
            }
        
        
        
        
    }
}

.pricing-and-services{
    text-align:center;
    padding: 10px;
    margin: 10px;
    width: 100%;
    background-image:url('/assets/j-kosinska-RE-8WswW95o-unsplash.jpg');
    background-repeat:no-repeat;
    background-attachment: fixed;
    height:100%;
    background-size:cover;
    p{
        font-size: larger;
        font-weight:bold;
    }
}

.pricing-container{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;

    div {
        padding-right: 25px;
        
        margin: 5px;
        
        width: 250px;
        text-align:left;
        p {
            font-weight: bold;
            margin-left: -15px;
            text-shadow:1px 1px cadetblue;
        }
        li {
            margin-left: -15px;
            font-size: xx-small;
            
        }
    }
}







// Keyframes
@keyframes yourAnimation{
    0%{
        transform: translateX(-10%);
        opacity: 0;
        }
    100%{
        transform: rotate(xx) translateX(0);
        opacity: 1;
        }
}



@keyframes yourAnimation2{
    0%{
        transform: translateY(-20%);
        opacity: 0;
        }
    100%{
        transform: rotate(xx) translateY(0);
        opacity: 1;
        }
}







