


body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.avatar{
    border-radius: 50%;
    height: 90px;
    width: 90px;
}

a {
 color:black;
 text-decoration: none;
 padding: 0.3em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
header {
      
    display:flex;
    background-color: #fbdb4a;
    padding: 2em;
    justify-content: space-between;
    
    .nav-menu{
        padding-top: 25px;
    }
}

.hero-section{
    display: flex;
    padding: 2em;
    
    
    .hero-image{
     width: 50%;
     margin: 1em;
    }
    

}








